
@model Customer

<h1 class="text-decoration-underline">Add a new Customer</h1>

    @* <div class="container d-flex  border border-1 mb-2"> *@
        <form class="d-flex gap-3 my-3" asp-action="CreateCustomer" asp-controller="Home" method="post">
            <div class = "col-2"> 
                <label asp-for="CustomerName"></label>
            </div>
            <div class = "col-5">
                <input asp-for="CustomerName" class="form-control">
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class = "col-2"> 
                <input type="submit" value="Add" class="btn btn-outline-dark">
            </div>  
        </form>
    </div>
    <div class="container d-flex d-inline-block m-3"></div>
    @if (ViewBag.AllCustomers.Count == 0)
    {
        <h3 class="bg-warning text-center">There's still no Customers</h3>
    }
    else
    { 
    <table class="table table-bordered table-striped table-hover p-4">
        <thead class="bg-dark text-light ">
            <tr>
                <th>Customer Name</th>
                <th>Joined on</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in ViewBag.AllCustomers)
            {
                <tr>
                    <td>@c.CustomerName</td>
                    <td>@c.CreatedAt.ToString("MMM dd, yyy")</td>
                    <td>
                        <a class="btn btn-danger ml-5" asp-action="DeleteCustomer" asp-route-customerId=@c.CustomerId>Remove</a>               
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
    </div>
