<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <header>
        <nav> 
            <a href="#home">Home</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </nav>
    </header>

    <div id="profileInfo">
        <img id="profileimage" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c754e0f7-221e-4859-9314-9832aaa55c0f/dcxkftg-536c8842-ce5f-41cb-9f7c-9a56f618f234.png/v1/fit/w_640,h_640,q_70,strp/toon_link_profile_pic__commission__by_ayayyuki_dcxkftg-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvYzc1NGUwZjctMjIxZS00ODU5LTkzMTQtOTgzMmFhYTU1YzBmXC9kY3hrZnRnLTUzNmM4ODQyLWNlNWYtNDFjYi05ZjdjLTlhNTZmNjE4ZjIzNC5wbmciLCJ3aWR0aCI6Ijw9NjQwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.iWTz_-119T11FXvTu9HgWr9dh48tXTQdXG6HRjn4flY" alt="Your Name">
        <h2>About Me</h2>
        <p id="about-me">
            John Müller <br>
            I love to code
        </p>
    </div>
</body>
</html>
