 <a asp-action="Index">Chefs</a> | <a asp-action="Dishes">Dishes</a> | <a asp-action="AddChef">Add a Chef</a> | <a asp-action="AddDish">Add a Dish</a>
@*<a asp-action="Index" asp-controller="Home">Home</a> | <a asp-action="addDish" asp-controller="Home">Add a Dish</a> *@