 @model Survey
    <div id="submitted-info">
        <h1><a href="#" >Submitted Info</a></h1>
        <p>Name: @Model.Name</p>
        <p>Dojo Location: @Model.Location</p>
        <p>Favorite Language: @Model.Language</p>
        <p>Comment: @Model.Comment</p>
        <button type="submit">Go Back</button>
    </div>